.device-page-container {
    width: var(--container-width);
    margin: var(--container-margin);
    background: var(--secondary-bg-color);
    padding: var(--container-padding);
    border-radius: var(--container-border-radius);

    display:flex; 
    flex-direction: row;
    justify-content: space-between;
}

.left {
    width: 700px;
    display:flex; 
    flex-direction: column;
    justify-content: space-between;
}

.right {
    width: 600px;
    display:flex; 
    flex-direction: column;
    justify-content: space-between;
}

.device-table-container, .channel-table-container {
    width: var(--container-width);
    /* margin: var(--container-margin); */
    background: var(--secondary-bg-color);
    padding: var(--container-padding);
    border-radius: var(--container-border-radius);
}

.device-table-header, .channel-table-header {
    font-size: var(--primary-font-size);
    color: var(--primary-font-color);
    text-align: center;
}

.device-table, .channel-table {
  width: 100%;
  border-collapse: collapse;
}

.device-table th, .channel-table th {
  border: var(--table-cell-border);
  border-radius: var(--table-cell-border-radius);
  padding: var(--table-cell-padding);
  height: var(--table-header-row-height);
  background-color: var(--table-header-color);
  font-size: var(--secondary-font-size);
  color: var(--secondary-font-color);
  text-align: center;
}

.device-table td, .channel-table td {
  border: var(--table-cell-border);
  border-radius: var(--table-cell-border-radius);
  padding: var(--table-cell-padding);
  height: var(--table-cell-row-height);
  background-color: var(--table-cell-color);
  font-size: var(--tertiary-font-size);
  color: var(--tertiary-font-color);
  text-align: center;
}
