.stats-chart-container {
    width: var(--container-width);
    /* margin: var(--container-margin); */
    background-color: var(--secondary-bg-color);
    padding: var(--container-padding);
    border-radius: var(--container-border-radius);
}

.stats-chart-header {
    font-size: var(--primary-font-size);
    color: var(--primary-font-color);
    text-align: center;
}

.stats-chart {
    background-color: var(--primary-bg-color);
    height: 450px !important;
    color: var(--primary-font-color);
    padding: 20px;
    border-radius: 20px;
}

.stats-chart-tooltip {
    padding: 10px 15px;
    background-color: var(--secondary-bg-color);
    border-radius: 20px;
}

.stats-chart-tooltip-cursor {
    stroke: transparent !important;
}
